header {
    height: 45vh;
    background-image: url('../../../../assets/images/header/header-background.jpg');
    background-size: cover;
    background-position: center;
    z-index: 1;
    position: relative;

    h1 {
        width: 80%;
        margin: auto;
        text-align: center;
        padding-top: clamp(.8rem, 4vw, 1.5rem);
        color: #F7F8FF;
    }

    button {
        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 1rem;
    }
}