.title-item {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

mat-list-item {
    cursor: pointer;
    mat-icon {
        margin-right: .5rem;
    }
    p {
        margin: 0;
    }
}