<p *ngIf="password && password.errors && password.dirty">
    <button mat-flat-button [color]="password.errors.minlength || password.errors.required? 'accent' : 'primary'">8 min</button>
    <button mat-flat-button [color]="password.errors.maxlength? 'accent' : 'primary'">16 max</button>
    <button mat-flat-button [color]="password.errors.uppercase? 'accent' : 'primary'">1 majuscule</button>
    <button mat-flat-button [color]="password.errors.lowercase? 'accent' : 'primary'">1 minuscule</button>
    <button mat-flat-button [color]="password.errors.symbols? 'accent' : 'primary'">@$!%*#?&.</button>
    <button mat-flat-button [color]="password.errors.digits? 'accent' : 'primary'">1 nombre</button>
</p>
