  <mat-horizontal-stepper linear #stepper>
    
    <!-- Pseudo -->
    <mat-step [stepControl]="pseudoRegisterForm">
      <form [formGroup]="pseudoRegisterForm">
        <ng-template  matStepLabel> <span *ngIf="!isSmallScreen">Pseudo</span> </ng-template>
        <mat-form-field appearance="standard">
            <mat-label>Pseudo</mat-label>
            <input
            matInput
            type="text"
            formControlName="pseudo"
            autocorrect="off"
            autocomplete="off"
            placeholder="Entrez un pseudo"
            required>
            <mat-icon matSuffix color="primary">account_circle</mat-icon>
        </mat-form-field>
        <!-- error message pseudo -->
        <pil-form-message-errors-pseudo [pseudo]="pseudo" ></pil-form-message-errors-pseudo>
        <div>
          <button mat-button matStepperNext color="primary" [disabled]="!pseudoRegisterForm.valid">Suivant</button>
        </div>
      </form>
    </mat-step>

    <!-- Email -->
    <mat-step [stepControl]="emailRegisterForm">
      <form [formGroup]="emailRegisterForm">
        <ng-template  matStepLabel> <span *ngIf="!isSmallScreen">Email</span> </ng-template>
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input
            matInput
            type="email"
            formControlName="email"
            autocorrect="off"
            autocomplete="off"
            placeholder="Entrez un email"
            required>
            <mat-icon matSuffix color="primary">email</mat-icon>
        </mat-form-field>
        <!-- error message email -->
        <pil-form-message-errors-email [email]="email"></pil-form-message-errors-email>
        <div>
          <button mat-button matStepperPrevious color="primary">Précèdent</button>
          <button mat-button matStepperNext color="primary" [disabled]="!emailRegisterForm.valid">Suivant</button>
        </div>
      </form>
    </mat-step>

    <!-- Password -->
    <mat-step [stepControl]="emailRegisterForm">
      <form [formGroup]="passwordRegisterForm">
        <ng-template  matStepLabel> <span *ngIf="!isSmallScreen">Mot de passe</span> </ng-template>
        <mat-form-field appearance="standard">
            <mat-label>Mot de passe</mat-label>
            <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Entrez un mot de passe"
            required>
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon color="primary">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <!-- error message password -->
        <pil-form-message-errors-password [password]="password" ></pil-form-message-errors-password>

         <!-- sumit button -->
         <button
         mat-raised-button
         color="primary"
         class="button"
         (click)="submit()"
         [disabled]="!passwordRegisterForm.valid">
             Valider
         </button>
         <div>
             <button mat-button matStepperPrevious color="primary">Précèdent</button>
             <button mat-button  color="primary"(click)="stepper.reset()">Remise à zero</button>
         </div>
      </form>
    </mat-step>
</mat-horizontal-stepper>