@import '../../../../sass/utils/color';

.menu-icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    @media screen and (min-width : 600px) {
        margin-bottom: .5rem;
    }
    &:hover {
        mat-icon, p {
            color: $accentColor;
        }
    }
    mat-icon {
        color: $textColorlight;
        @media screen and (min-width : 600px) {
            font-size: 2rem;
            transform: translateX(-25%);
        }
    }
    
    p {
        font-size: .6rem;
        color: $textColorlight;
        @media screen and (min-width : 600px) {
            font-size: .8rem;
            margin: 1rem 0 0 0 ;
        }
    }
}
