form {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button {
    width: 100%;
    max-width: 13rem;
    display: flex;
    justify-content: space-around;
}