.picture-item {
    position: relative;
    cursor: pointer;
    img {
        width: 33vw;
        height: 33vw;
        object-fit: contain;
        margin: 0 4px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0,0.15);
        border-radius: 7px;
        
        @media screen and (min-width : 600px) {
            width: 24vw;
            height: 24vw;
        }
        @media screen and (min-width : 900px) {
            width: 20vw;
        height: 20vw;
        }
        @media screen and (min-width : 1024px) {
            width: 15vw;
            height: 15vw;
        }
    }
    mat-icon {
        position: absolute;
        top: .5rem;
        right: .5rem;
    }
}

.opacity50 {
    opacity: 0.7;
}

